<div class="user-details">
  <h1>Coding Study OT</h1>
</div>

<div class="user">
  <div class="tech">
    <h2>Design</h2>
    ![Alt text](![img1](https://user-images.githubusercontent.com/115914965/196036937-f7d924a0-77f1-4a99-83af-59df9f129812.JPG))
    <img src="![img1](https://user-images.githubusercontent.com/115914965/196036937-f7d924a0-77f1-4a99-83af-59df9f129812.JPG)">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
