<div class="user-details">
  <h1>Coding Study OT</h1>
</div>

<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="img1.JPG">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>



    <p>Most of my work has been in JavaScript/TypeScript, but I am quite familiar with Python and Java as well.</p>
  </div>

  <div class="tech">
    <h2>Tools</h2>

    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
